<footer>
  <div class="container px-5 py-7">
    <div class="flex justify-between text-sm text-gray-800">
      <div class="">
        <%= link_to "About Ethiopia COVID-19 Response Task Force", about_path, class: 'font-bold mr-6' %>
        <%= link_to "GitHub", "https://github.com/Ethiopia-COVID19", class: 'font-bold mr-6', target: :_blank %>
      </div>
      <div>
        Email us at <%= mail_to ENV['EMAIL_ADDRESS'], nil, target: :_blank, class: 'font-bold mr-6' %>
        Join the <%= link_to 'Slack group', 'https://ethiopia-covid19.slack.com', target: :_blank, class: 'font-bold' %>
      </div>
    </div>
  </div>
</footer>
